@media (max-width: 999px) {
  .navbar {
    .hamburger {
      display: block !important;
    }

    .button-contain {
      display: none;
    }

    .nav-contain {
      width: 100% !important;
      height: 100vh;
      position: absolute;
      padding: 20px 15px;
      background: #fff;
      z-index: 99;
      top: 129px;
      right: -100%;
      flex-direction: column !important;
      justify-content: flex-start !important;
      align-items: flex-start !important;
      align-content: flex-start !important;
      transition: all .3s linear;

      .navbar-nav {
        width: 100%;
        flex-direction: column !important;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        margin-bottom: 15px;

        li {
          width: 100%;
          margin: 0px !important;
          padding: 10px 0px;
          border-bottom: 1px solid rgba($color: #199EBD, $alpha: 0.2);
  
          &:last-child {
            border-bottom: 0px !important;
          }
  
          a {
            width: 100%;

            &::after, &::before {
              display: none;
            }

            &:hover {
              color: var(--primary-color);
            }
          }
        }
      }

      &.active-nav {
        right: 0px;
      }
      
      .socail-media {
        width: 100%;
        justify-content: center;
      }
    }

    .brand-name img {
      object-position: left !important;
    }

    &.scrolled {
      .nav-contain {
        top: 110px;
      }

      .contain {
        padding-left: 0px !important;
        padding-right: 0px !important;
      }
    }
  }

  header {
    padding: 200px 0px 40px !important;

    .swiper-slide {
      padding-bottom: 50px;
    }

    &::after {
      background-position: center;
    }

    h1 {
      font-size: 30px !important;

      span {
        font-size: 30px !important;
      }
    }
  }

  .general-section {
    padding: 40px 0px;
  }

  .heading {
    margin-bottom: 30px !important;
    width: 100% !important;

    h1 {
      font-size: 30px !important;

      span {
        font-size: 30px !important;
      }
    }
  }

  .mobile-order-0 {
    order: 0;
  }

  .mobile-order-1 {
    order: 1;
  }

  .services .image-content {
    height: 250px;
  }

  .take-now .content h1 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.8rem;
  }

  .contact-us .form-contain {
    padding: 30px 15px;
    margin-top: 20px;
  }
}